.pane {
    background: #eee;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.pane input {
    display: block;
    margin-bottom: 10px;
    width: calc(100% - 10px);
    border: 1px solid #aaa;
    background-color: white;
    padding: 5px 3px;
}