.pane {
    background: #eee;
    padding: 10px;
}

.pane input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #aaa;
    background-color: white;
    padding: 5px 3px;
}

.pane button {
    width: 100%;
    padding: 10px 0px;
    background-color: cornflowerblue;
    color: white;
    outline: none;
    border: none;
    margin: 10px 0;
}