.container {
    padding: 10px;
}

.nav-back {
    display: inline-block;
    padding: 5px 3px;
    background: cornflowerblue;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}


.debug {
    padding: 10px;
    color: #aaaaaa;
}
